@font-face {
    font-family: 'plex';
    src: url('../font/ibmplexsans/IBMPlexSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'plex';
    src: url('../font/ibmplexsans/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }