#menu{
    position: fixed;
    top:      50px;
    right:    0px;
    z-index:  100;
    color:   white;
    
  }
  
  #menu .item{
    background: RGB(30,235,105);
    font-size: 20px;
    padding: 3px 10px 4px 8px;
    margin-bottom: 5px;
  }
  
  #menu .item a{
    color: white;
  }
  
  #menu .item a:hover{
    color: black;
  }

  @media only screen and (max-width: 600px) {

    #menu {
      top:0;
    }

    #menu .item {
      font-size: 25px;
      background: none;
      color: black;
    }

    #menu a:first-child {
      display: none;
    }
    #menu a:nth-child(2) {
      display: none;
    }
    
  }