.titel {
    position: absolute;
    right:  00px;
    top:    30px;
    width:  300px;
    background-color: white;
}

.inhalt {
    position: fixed;
    right:  10px;
    bottom: 30px;
    width:  110px;
    height: 260px;
}

#inhalt-title {
    bottom: 30px;
    right:  25px;
    width:  110px;
    height: 295px;
    position:absolute;
    background-color: rgba(255,255,255,0.6);
    
}

p {
    font-size: 18px;
    line-height: 1.6;
    padding-bottom: 12px;
}

h1 {
    font-size: 44px;
    line-height: 1.2;
    color:  rgb(30,235,105);
}

.text h1 {
    font-size: 24px;
    padding-bottom: 15px;
}

.titel h2 {
    font-size: 20px;
    line-height: 1.2;
}

.inhalt h5 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 1.2
}

.inhalt ol{
    font-size: 12px;
    
}

ol li ol {
    list-style: lower-greek inside none;
    padding: 0px 0px 0px 15px;
}

#danke ol {
    list-style:decimal outside none;

}

a {
    line-height: 1.5;
    color: black;
}

.inline {
    display: inline;
}

.text {
    border-left: 1px dotted rgb(30,235,105);
    max-width: 800px;
}

.fullwidth {
    max-width: 90%;
}

light {
    font-weight: 200;
    padding-right: 7px;
}


/****/


.overview {

    width: 40%; /* adjust as needed */
    height: 215px;

    margin: 8px 0 0 0;
    padding: 0px 5px 0 5px;
    border: 2px solid black;
    border-radius: 5px;
    text-transform: lowercase;

    background-image:
    repeating-linear-gradient(
      0deg,
      #dfdfdf,
      #dfdfdf 1px,
      transparent 1px,
      transparent 5px
    );
    min-width: 300px;
}

.overview p {
    padding: 5px 0 0 10px;
}

.design {
    display: flex;
}

.design .theorie{
    flex: 1;
    padding: 10px;
    margin: 0px 10px 5px 10px;
    border: 2px solid black;
    border-radius: 3px;

    background-image:
      repeating-linear-gradient(
        -45deg,
        #dfdfdf,
        #dfdfdf 1px,
        transparent 1px,
        transparent 5px
      );
}
  
.design .technologie{
    background-image:
      repeating-linear-gradient(
        45deg,
        #dfdfdf,
        #dfdfdf 1px,
        transparent 1px,
        transparent 5px
      );
}

.design a {
    font-size: 12px;
    text-transform: lowercase;
    font-weight: 100;
}

.goal-schema img{
    min-width: 300px;
    padding-top: 10px;
}



light {
    color:  rgb(30,235,105);
}


#cover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
    max-width: 66%;
  }
  
#cover img {
    /* if you want the image to be centered horizontally 
    margin: 0 auto; */
    /* if you want the image to be centered both horizontally and vertically */
    padding: 30px 0 100px 0;
    max-width: 80%;
    
  }

#projekte img {
    width: 40%; /* adjust as needed */
}

.goal-schema {
    display: flex;
    flex-direction: row; /* or column */
    padding-bottom: 15px;
}

#arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    font-size: 40px;
    font-family: sans-serif;
}

#arrow::before {
    content: "\27B3"; 
  }

.trennung {
    border-top: 100px solid rgb(30,235,105);
    padding-top: 100px;
}


table td:first-child {
    color: rgb(30,235,105);
}

#skills .flexing {
    padding-right: 30px;
    min-width: 150px;
    max-width: 17%;
}

#block-graphic {
    position: absolute;
    bottom: -30px;
    right: 215px;
    width: 80px;
    height: 342px;
    
    background-image:
      repeating-linear-gradient(
        -90deg,
        #dfdfdf,
        black 1px,
        transparent 1px,
        transparent 5px
      );
}


footer {
    background-color: white;
    background-image:
      repeating-linear-gradient(
        -0deg,
        white,
        rgb(30,235,105) 0.5px,
        transparent 1px,
        transparent 6px
      );
}

@media only screen and (max-width: 760px) {
    #arrow {
        text-align: center;
        width: 300px;
    }
    #arrow::before {
        transform: rotate(90deg);
      }

    .goal-schema {
        display: block;
        
    }
}

@media only screen and (max-width: 500px) {    

    #cover {
        position: relative;
        display: block;
        top: 100px;
        min-width: 50%;
    }

    
    .titel {
        left: 5%;
    }

    #block-graphic {
        display: none;
    }
}

@media only screen and (max-height: 500px) {    

    
    #cover {
        position: relative;
        display: block;
        top: 100px;
        min-width: 50vh;
    }

    #cover img{
        width: 70%;
    }

    .titel {
        left: 5%;
    }

    #block-graphic {
        display: none;
    }
}

.project .text {
    padding: 4% 4% 7% 5%;
}

.project .text h3 {
    font-size: 24px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.project .text p:last-child::after {
    content: "\25CF"; /* Unicode character for black square */
    display: inline-block;
    margin-left: 5px;
    color: rgb(30,235,105);
  }

.projectheading h3 {
    font-size: 18px;
    line-height: 1.6;
}

#thesis {
    display: block;
    color: rgb(30,235,105);
    text-transform: uppercase;
    border: 1px rgb(30,235,105) solid;
    border-left: none;
    border-right: none;
    padding: 5px 0 5px 5px;
    margin: 50px 0 50px 0;
}

#thesis:hover {
    color: black;
    background-color: rgb(30,235,105);

}

#morse {
    position: fixed;
    color:  rgb(30,235,105);
    font-size: 8px;
    font-weight: 100;
    letter-spacing: 3px;
    transform-origin: top right;
    transform: rotate(-90deg);
    right: 30px;
    top: 15%;
}