#projects {
  width: 100%;
  min-height: 90vh;
  background:  white;
  color: rgb(30,235,105);
 
}
#projects-title {
  width: 90%;
  padding: 10px 5% 10px 5%;
}

#projects .overview {
  padding: 10px 5% 20px 5%;
  width: 70vw;   
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2vw;
  row-gap: 1vw;
}

#projects .thumb {
  position: relative;
  display: inline-block;
}

#projects .thumb h3 {
  display: none; /* display only on hover*/
  position: absolute;
  text-align: center;
  color:  white;
  padding: 0 10px 4px 10px;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%); /* center the element */
  background-color: rgb(30,235,105);
}

#projects .thumb ul{
  display: inline-block;
  position: absolute;
  bottom: 0px;
  list-style-type: none;
  color: rgb(30,235,105);
}

#projects .thumb li{
  display: none;
  position: relative;
  padding: 5px
}

#projects .thumb a:hover li{
  display: inline-block;
}


#projects .thumb a:hover {
  background-color:  rgb(30,235,105);
}

#projects .thumb a:hover h3{
  display: block;
}

#projects .overview .thumb img {
  object-fit: cover;
  width: 35vw;
  height: 35vw;
}

#projects .details .project{
  border-top: 10px solid rgb(30,235,105);
}

#projects .details img {

  object-fit: cover;
  width: 100vw;
  height: auto;
}

#projects .projectheading {
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap; /* Allows columns to wrap to the next row */
  white-space: nowrap; /* Prevents line breaks */

}

#projects .projectheading h2 {
    display: inline-block;
    padding: 0 80px 0 0;
    min-width: 400px;
}

#projects .projectheading h3 {
  display: inline-block;
  padding:  3% 10px 10px 0px;
  width: 500px;
  white-space:normal; /* allows line breaks */
}

#projects #project3{
  background-color: #222
}

#projects .video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 720px;
}