


#projects {
  width: 100%;
  min-height: 90vh;
  background:  white;
  color: rgb(30,235,105);
 
}
#projects-title {
  width: 90%;
  padding: 10px 5% 10px 5%;
}

#projects .overview {
  padding: 10px 5% 20px 5%;
  width: 70vw;   
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2vw;
  row-gap: 1vw;
}

#projects .thumb {
  position: relative;
  display: inline-block;
}

#projects .thumb h3 {
  display: none; /* display only on hover*/
  position: absolute;
  text-align: center;
  color:  white;
  padding: 0 10px 4px 10px;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* center the element */
          transform: translate(-50%, -50%); /* compatibility */
  background-color: rgb(30,235,105);
}

#projects .thumb ul{
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  list-style-type: none;
  color: rgb(30,235,105);
  z-index: 10;
}

#projects .thumb li{
  display: none;
  position: relative;
  padding: 5px;
}

#projects .thumb a:hover li{
  display: inline-block;
}


#projects .thumb a:hover {
  background-color:  rgb(30,235,105);
}

#projects .thumb a:hover h3{
  display: block;
}

#projects .overview .thumb img {
  object-fit: cover;
  width: 35vw;
  max-width: 100%;
  height: 35vw;
}

#projects .details .project{
  border-top: 10px solid rgb(30,235,105);
}

#projects .details img {

  object-fit: cover;
  width: 100vw;
  height: auto;
}

#projects .projectheading {

  display: flex;
  flex-wrap: wrap; /* Allows columns to wrap to the next row */
  white-space: nowrap; /* Prevents line breaks */
  padding-top: 40px;
  padding-left: 5%;
}

#projects .projectheading h2 {
    padding-right: 2%;
    max-width: 100%;
}

#projects .projectheading h3 {
  width: 600px;
  max-width: 100%;
  white-space:normal; /* allows line breaks */
}

#projects #project3{
  background-color: #222;
}
#projects #project3 p{
  color: white;
}


#projects .video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*max-width: 720px;*/
}

#projects .project-description {
  padding: 20px 5% 100px 5%;
}

#projects .project-description p{
  column-count: 1;
}

#projects .project-description p::after {
  content: "\25CF"; /* Unicode character for black square */
  display: inline-block;
  margin-left: 5px;
  color: rgb(30,235,105);
}

/* If the window width is greater than 600px, display the letter "p" in two columns */
@media screen and (min-width: 600px) {
#projects .project-description p{
      column-count: 2;
  }
}

/* If the window width is greater than 900px, display the letter "p" in three columns */
@media screen and (min-width: 900px) {
#projects .project-description p{
      column-count: 3;
  }
}