* {
    font-family: "plex", Helvetica, Arial, sans-serif;
    line-height: 1.4;
}

h1 {
  text-transform: uppercase;
  font-size: 15vw;
}

h2 {
  font-size: 10vw;
  /*font-size: 30px;*/
}


h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 14px;
}

h4 {
  font-size: 20px;
}

p {
    font-size: 3vh;
    margin-bottom: 14px;
    color: black;
}

.text {
  max-width: 66%;
  min-width: 350px;
}

.longtext {
  max-width: 61%;
  min-width: 400px;
  background-color: #E7EAE8;
  box-shadow: 1px 1px 3px #cecece;
}

.longtext p {
  line-height: 5vh;
  padding-bottom: 3vh;
  padding-right: 20px;
}

@media only screen and (max-width: 500px) {
  p {
    font-size: 25px;
  }
}